@use "./normalize.scss";
@use "sass:string";
@use 'sass:color';
@use 'sass:list';

$primary-color: rgba(129, 0, 235, 1);
$secondary-color: rgba(183, 83, 237, 1);
$white-100: rgb(248, 248, 248);
$gray-100: rgb(245, 245, 245);
$gray-200: rgb(230, 230, 230);
$gray-300: rgb(210, 210, 210);
$gray-400: rgb(160, 160, 160);
$gray-500: rgb(115, 115, 115);
$gray-600: rgb(100, 100, 100);
$gray-700: rgb(82, 82, 82);
$gray-800: rgb(40, 40, 40);
$gray-900: rgb(20, 20, 20);
$black-300: rgb(12, 12, 12);
$aqua-500: rgb(219, 219, 237);

$blue-500: rgb(70, 140, 230);
$green-500: rgb(18, 190, 130);
$orange-500: rgb(240, 140, 60);
$blue-300: rgb(110, 170, 255);
$green-300: rgb(30, 202, 142);
$orange-300: rgb(255, 170, 90);
$teal-500: rgb(40, 180, 190);
$teal-300: rgb(90, 210, 220);

$primary-font: "Overpass", "Segoe UI", "sans-serif";

$font-75: 0.75rem;
$font-85: 0.85rem;
$font-90: 0.9rem;
$font-100: 1rem;
$font-112: 1.125rem;
$font-150: 1.5rem;
$font-200: 2rem;
$font-300: 3rem;

$tiny-screen-padding: 5%;
$mobile-screen-padding: 8%;
$tablet-screen-padding: 4%;
$laptop-screen-padding: 10%;
$desktop-screen-padding: 10%;
$large-screen-padding: 15%;

body {
	font-family: $primary-font;
}

$screen-tiny-min: 0px;
$screen-mobile-min: 320px;
$screen-tablet-min: 481px;
$screen-laptop-min: 769px;
$screen-desktop-min: 1025px;
$screen-large-min: 1201px;

@mixin gradient($color: primary) {
  $start: $primary-color;
  $end: $secondary-color;

  @if $color == blue {
    $start:  color.adjust($blue-500, $lightness: 10%);
    $end: color.adjust($blue-500, $lightness: -10%);
  } @else if $color == green {
    $start: color.adjust($green-500, $lightness: 10%);
    $end: color.adjust($green-500, $lightness: -10%);
  } @else if $color == orange {
    $start: color.adjust($orange-500, $lightness: 10%);
    $end: color.adjust($orange-500, $lightness: -10%);
  } @else if $color == teal {
    $start: color.adjust($teal-500, $lightness: 10%);
    $end: color.adjust($teal-500, $lightness: -10%);
  }
	& {
		background: $start;
		background: -webkit-linear-gradient(127deg, $start 0%, $end 100%);
		background: -moz-linear-gradient(127deg, $start 0%, $end 100%);
		background: linear-gradient(127deg, $start 0%, $end 100%);
	}

}


@mixin for-tiny-screen {
	@media screen and (min-width: $screen-tiny-min) { @content; };
}
@mixin for-mobile-screen {
	@media screen and (min-width: $screen-mobile-min) { @content; };
}
@mixin for-tablet-screen {
	@media screen and (min-width: $screen-tablet-min) { @content; };
}
@mixin for-laptop-screen {
	@media screen and (min-width: $screen-laptop-min) { @content; };
}
@mixin for-desktop-screen {
	@media screen and (min-width: $screen-desktop-min) { @content; };
}
@mixin for-large-screen {
	@media screen and (min-width: $screen-large-min) { @content; };
}


@mixin padding ($x-padding: 0px, $y-padding: 0px, $multiplier: 1) { 
	@include for-tiny-screen {
		padding: if($y-padding != 0px, $y-padding * $multiplier, $tiny-screen-padding * $multiplier) if($x-padding != 0px, $x-padding * $multiplier, $tiny-screen-padding * $multiplier);
	}
	@include for-mobile-screen {
		padding: if($y-padding != 0px, $y-padding, $mobile-screen-padding) if($x-padding != 0px, $x-padding * $multiplier, $mobile-screen-padding * $multiplier);
	}
	@include for-tablet-screen {
		padding: if($y-padding != 0px, $y-padding, $tablet-screen-padding) if($x-padding != 0px, $x-padding * $multiplier, $tablet-screen-padding * $multiplier);
	}
	@include for-laptop-screen {
		padding: if($y-padding != 0px, $y-padding, $laptop-screen-padding) if($x-padding != 0px, $x-padding * $multiplier, $laptop-screen-padding * $multiplier);
	}
	@include for-desktop-screen {
		padding: if($y-padding != 0px, $y-padding, $desktop-screen-padding) if($x-padding != 0px, $x-padding * $multiplier, $desktop-screen-padding * $multiplier);
	}
	@include for-large-screen {
		padding: if($y-padding != 0px, $y-padding * $multiplier, $large-screen-padding * $multiplier) if($x-padding != 0px, $x-padding * $multiplier, $large-screen-padding * $multiplier);
	}
}

@mixin shadow($size: "small") {
	@if $size == "small" {
		& {
			-webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.25);
			-moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.25);
			box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.25);
		}
	} @else if $size == "medium" {
		& {
			-webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.4);
			box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.4);
		}
	} @else if $size == "big" {
		& {
			-webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.8);
			-moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.8);
			box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.8);
		}
	}
}

$default-transition-duration: 300ms;
$default-transition-delay: 0ms;

@mixin transition($transitions, $durations: null, $delays: null) {
	
	$all: ();
	@if ($durations and $delays) {
		@for $i from 1 through length($durations) {
			$all: list.append($all, string.unquote(nth($transitions, $i) + " " + nth($durations, $i) + " " + nth($delays, $i)), comma);
		}
	} @else {
		@each $transition in $transitions {
			$all: list.append($all, string.unquote($transition + " " + $default-transition-duration + " " + $default-transition-delay), comma);
		}
	}
	& {
		-webkit-transition: $all;
		-moz-transition: $all;
		-o-transition: $all;
		-ms-transition: $all;
		transition: $all;
	}

}

.btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	&__primary {
		background-color: $primary-color;
		padding: 5px 30px;
		color: $white-100;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		&:hover {
			background-color: color.scale($primary-color, $lightness: -15%);
			color: color.scale($white-100, $lightness: -15%)
		}
		@include transition((background-color, color));
	}

	&__secondary {
		background-color: $white-100;
		padding: 5px 30px;
		color: $black-300;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		&:hover {
			color: color.adjust($primary-color, $lightness: -5%);
			background: color.mix($white-100, $primary-color, $weight: 90%);
			@include shadow($size: "medium");
		}
		@include shadow();
		@include transition($transitions: ("box-shadow", "color", "background"));
	}
	&__full {
		width: 100%;
	}
	&__fixed {
		width: 100%;
		@include for-tiny-screen() {
			width: 80%;
		}
		@include for-mobile-screen() {
			width: 250px;
		}
		@include for-desktop-screen() {
			width: 300px;
		}
	}
	&__centered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&--down-arrow {
		padding: 5px;
	}
	&--header-logo {
		border-radius: 10px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr="#8100EB",
			endColorstr="#B753ED",
			GradientType=0
		);
		&:hover {
			@include shadow($size: "medium");
		}
		@include shadow($size: "small");
		@include transition($transitions: ("box-shadow"));
		@include gradient;
	}
	&--header-navbar {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

.header {
	height: 85px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $white-100;
	z-index: 1000;
	box-sizing: border-box;

	&--logo-icon {
		width: 25px;
		height: 25px;
	}

	&--btn-icon {
		width: 25px;
		height: 25px;
	}

	&--navbar {
		gap: 30px;
		display: none;
		@include for-desktop-screen() {
			display: flex;
		}
	}

	&--navbar-item {
		width: 100px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1000;

		&__active {
			color: $primary-color;
		}
		&__active::after {
			content: '';
			position: absolute;
			bottom: -6px;
			left: 0;
			width: 100%;
			height: 0.1em;
			background-color: $primary-color;
			opacity: 1;
			transition: opacity 300ms, transform 300ms;
			transform-origin: center;
			transform: translate3d(0, 0.2em, 0);
			transform: scale(1);
		}
		&:hover,
		&:focus {
			color: $primary-color;
		}
		&:not(&__active)::after {
			content: '';
			position: absolute;
			bottom: -6px;
			left: 0;
			width: 100%;
			height: 0.1em;
			background-color: $primary-color;
			opacity: 0;
			transform-origin: center;
		}
		&:hover::after,
		&:focus::after {
			opacity: 1;
			transform: translate3d(0, 0.2em, 0);
			transform: scale(1);
		}
		@include transition($transitions: ("filter"));
		@include for-desktop-screen() {
			width: 120px;
		}
		@include for-large-screen() {
			width: 140px;
		}
	}
	@include shadow($size: "small");
	@include for-mobile-screen() {
		justify-content: space-between;
	}
	@include for-desktop-screen() {
		gap: 100px;	
	}
	@include padding($y-padding: 0);
}

.section {
	&--button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		flex-direction: column;
		@include for-desktop-screen() {
			flex-wrap: nowrap;
			justify-content: start;
			flex-direction: row;
		}
	}
	&--stats {
		display: flex;
		align-items: center;
		flex-direction: column;
		@include padding($y-padding: 2rem);
	}
	&--about {
		@include padding($y-padding: 2rem);
	}
	&--main {
		margin-top: 85px;
		background: #f0fffc;
		background: -webkit-linear-gradient(127deg, rgba(240, 255, 252, 1) 0%, rgba(215, 219, 219, 1) 100%);
		background: -moz-linear-gradient(127deg, rgba(240, 255, 252, 1) 0%, rgba(215, 219, 219, 1) 100%);
		background: linear-gradient(127deg, rgba(240, 255, 252, 1) 0%, rgba(215, 219, 219, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F0FFFC", endColorstr="#D7DBDB", GradientType=0);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include for-desktop-screen {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		@include padding($y-padding: 2rem);
	}
	&--projects {
		@include padding($y-padding: 2rem);
	}
	&--skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include padding($y-padding: 2rem);
	}
	&--skills-stats {
		display: flex;
		align-items: center;
		flex-direction: column;
		@include padding($y-padding: 2rem);
	}
	
}

.heading {
	margin: 0;
	&--1 {
		color: $primary-color;
		font-size: $font-200;
		&__spec {
			margin: 0 0;
			display: flex;
			& p {
				margin: 10px 0;
			}
		}
		@include for-mobile-screen() {
			font-size: $font-300;
		}
	}
	&--2 {
		color: $gray-800;
		font-size: $font-100;
		display: flex;
		align-items: center;
		&__bold {
			font-weight: 700;
		}
		&__centered {
			text-align: center;
			justify-content: center;
		}
		&__primary {
			color: $primary-color;
		}
		&__animated-600 {
			font-size: $font-75;
			font-family: monospace;
			border-right: .15em solid $primary-color; 
			white-space: nowrap; 
			letter-spacing: .15em; 
			overflow: hidden; 
			width: 0;
			animation: 
				typing600 3s steps(23, end) forwards,
				blink-caret .5s step-end infinite forwards;
			margin-bottom: 4px;
		}
		&__animated-400 {
			font-size: $font-75;
			font-family: monospace;
			border-right: .15em solid $primary-color; 
			white-space: nowrap; 
			letter-spacing: .15em; 
			overflow: hidden; 
			width: 0;
			animation: 
				typing400 3s steps(19, end) 0.3s forwards,
				blink-caret .5s step-end infinite forwards;
		}
		
		@include for-mobile-screen() {
			font-size: $font-100;
		}
		@include for-tablet-screen() {
			font-size: $font-150;
		}
		@include for-laptop-screen() {
			font-size: $font-200;
		}
		@include for-desktop-screen() {
			font-size: $font-200;
		}
	}
	&--3 {
		color: $gray-500;
		font-weight: 300;
		&__centered {
			text-align: center;
		}
	}
	&--4 {
		color: $gray-700;
		font-size: $font-112;
		font-weight: 300;
		&__centered {
			text-align: center;
		}
	}
}

.main {
	&--img {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		margin: 30px;
		@include shadow($size: "big");
		@include for-mobile-screen {
			width: 275px;
			height: 275px;
		}
		@include for-large-screen() {
			width: 350px;
			height: 350px;
		}
	} 
}

.text {
	font-size: $font-100;
	color: $gray-700;
	&__main {
		min-width: 300px;
		max-width: 500px;
	}
}

.rule {
	margin: 0px;
	&__primary {
		height: 4px;
		background: linear-gradient(90deg, transparent, $primary-color, $secondary-color, transparent);
		width: 50%;
		border-radius: 3px;
		border: none;
		animation: rule-blinking 3s ease-in-out infinite;
		margin: 10px auto;
	}
	&__secondary {
		height: 4px;
		background: $gray-300;
		width: 100%;
		border-radius: 3px;
		border: none;
	}
}

.about {
	display: grid;
	gap: 100px;
	grid-template-columns: 1fr;

	&--item:first-child {
		grid-column: 1 / -1;
		@include for-large-screen() {
			margin: 0 25% 0 25%;
		}
	}

	&--title {
		margin: 10px 0 0 0;
		font-size: $font-200;
		color: $primary-color;
		font-weight: 800;
	}
	&--subtitle {
		margin: 10px 0 0 0;
		font-size: $font-150;
		font-weight: 500;
	}

	&--item {
		gap: 20px;
		display: flex;
		flex-direction: column;
		padding: 10px;
		border-radius: 10px;
		position: relative;
		&__centered {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		&__squared {
			width: 240px;
			height: 240px;
			border-radius: 30px;
		}

		@include transition((box-shadow));
		@include shadow($size: small);
		&:hover {
			@include shadow($size: medium);
		}
		&::before {
			background-color: $primary-color;
			width: 0%;
			height: 5px;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 10px 10px 0px 0px;
			@include transition((width));
		}
		&:hover::before {
			width: 100%;
		}
		@include for-tablet-screen() {
			padding: 30px;
		}
	}
	&--icon {
		padding: 10px;
		color: white;
		border-radius: 15px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include shadow($size: medium);
		@include gradient;
	}
	&--inline-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white-100;
		border-radius: 3px;
		@include gradient;
		@include for-tablet-screen() {
			margin: 3px;
		}
	}
	&--list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 0;
		@include for-large-screen() {
			padding: 0px 0px 0px 30px;
		}
	}
	&--list-item {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 3px 3px 3px 8px;
		border-radius: 8px;
		position: relative;
		@include transition((background-color));
		&::before {
			content: "";
			width: 5px;
			height: 100%;
			border-radius: 8px 0px 0px 8px;
			background-color: $primary-color;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			@include transition((opacity));
		}
		&:hover::before {
			opacity: 1
		}
		&:hover {
			background-color: $aqua-500;
		}
	}
	@include for-large-screen() {
		grid-template-columns: 1fr 1fr;
	}
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&--text {
		text-align: center;
	}

	&--title {
		margin: 10px 0 0 0;
		font-size: $font-200;
		color: $primary-color;
		font-weight: 800;
	}
	&--subtitle {
		font-size: $font-150;
		@include for-desktop-screen() {
			margin: 10px 0 0 0;
		}
	}

	&--item {
		cursor: default;
		user-select: none;
		gap: 10px;
		&__centered {
			display: flex;
			justify-content: start;
			flex-direction: column;
			align-items: center;
		}
		&__squared {
			padding-top: 30px;
			width: 240px;
			height: 220px;
			border-radius: 30px;
		}

		@include transition((box-shadow));
		@include shadow($size: small);
		&:hover {
			@include shadow($size: medium);
		}
	}
	&--icon {
		background: $primary-color;		

		padding: 10px;
		color: white;
		border-radius: 15px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include shadow($size: medium);
	}
	@include for-desktop-screen() {
		flex-direction: row;
		gap: 100px;
	}
}

.projects {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	&--rule {
		background-color: $gray-800;
		border: none;
		height: 1px;
		width: 100%;
	}
	&--text {
		font-size: $font-90;
		margin: 0;
	}
	&--title {
		margin: 0;
	}
	&--content {
		padding: 20px;
		gap: 10px;
		display: flex;
		flex-direction: column;
	}
	&--image {
		width: 100%;
		border-radius: 15px 15px 0px 0px;
		position: relative;
		display: block;

	}
	&--image-container {
		position: relative;
		display: block;
		overflow: hidden;
		border-radius: 15px 15px 0 0;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		border: none;
		-webkit-mask-image: linear-gradient(45deg, #000 25%, rgba(0,0,0,.6) 50%, #000 75%);
		mask-image: linear-gradient(45deg, #000 25%, rgba(0,0,0,.6) 50%, #000 75%);
		-webkit-mask-size: 800%;
		mask-size: 800%;
		-webkit-mask-position: 0;
		mask-position: 0;
		transition: mask-position 2s ease, -webkit-mask-position 2s ease;

		&:hover {
			-webkit-mask-position: 120%;
			mask-position: 120%;
		}

		&::after {
			content: "";
			border-radius: 15px 15px 0px 0px;
			top: 0;
			box-sizing: border-box;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 10;
			box-shadow: 0px -53px 66px 0px rgba(0,0,0,0.4) inset;
			-webkit-box-shadow: 0px -53px 66px 0px rgba(0,0,0,0.4) inset;
			-moz-box-shadow: 0px -53px 66px 0px rgba(0,0,0,0.4) inset;
		}
	}
	&--technologies {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	&--rule {
		margin: 0;
	}
	&--date {
		font-size: $font-75;
		color: $gray-500;
		display: flex;
		align-items: center;
		gap: 5px;
		line-height: 1;
	}
	&--tech-item {
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		cursor: default;
		color: color.scale($primary-color, $lightness: -15%);
		font-weight: 600;
		font-size: $font-90;
		padding: 5px 10px;
		border: solid 1px transparent;
		background-image: 
			linear-gradient(white, white), 
			radial-gradient(circle at top left, $primary-color, $secondary-color);
		background-origin: border-box;
		background-clip: padding-box, border-box;
		&:hover {
			border: solid 1px transparent;
			background-image: 
				linear-gradient($aqua-500, $aqua-500), 
				radial-gradient(circle at top left, $primary-color, $secondary-color);
			background-origin: border-box;
			background-clip: padding-box, border-box;
		}
	}
	&--item {
		display: flex;
		width: 400px;
		position: relative;
		flex-direction: column;
		align-items: center;
		border-radius: 15px;
		@include shadow($size: medium);
	}
}

.skills {
	padding: 20px;
	gap: 20px;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	max-height: 2000px;
	overflow: hidden;
	box-sizing: border-box;
	transform-origin: top;
	transition-timing-function: ease-in-out;
	&__hidden {
		max-height: 0px;
		opacity: 0;
		scale: 1 0.3;
	}
	&--btn-dropdown {
		@include transition((rotate));
		&__flipped {
			rotate: 180deg;
		}
	}
	&--section {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0px 10px;
		margin: 20px 0px;
		align-items: center;
	}
	&--skills-count {
		font-size: $font-75;
		text-wrap: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $gray-300;
		border-radius: 5px;
		padding: 3px 10px;
		color: $gray-500;
		height: 25px;
		background: $gray-200;
	}
	&--area {
		display: flex;
		gap: 10px;
	}
	&--area-icon {
		color: $primary-color;
	}
	&--count-arrow-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&--down-arrow {
		color: $gray-500
	}
	&--item {
		border-radius: 15px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 3px;
		min-width: 200px;
		@include transition((box-shadow, -webkit-box-shadow, -moz-box-shadow));
		&__advanced {
			border: $green-500 2px solid;
			&:hover {
				box-shadow: 0px 5px 30px 0px color.adjust($green-500, $alpha: 80%);
				-webkit-box-shadow: 0px 5px 30px 0px color.adjust($green-500, $alpha: 80%);
				-moz-box-shadow: 0px 5px 30px 0px color.adjust($green-500, $alpha: 80%);
			}
		}
		&__middle {
			border: $orange-500 2px solid;
			&:hover {
				box-shadow: 0px 5px 30px 0px color.adjust($orange-500, $alpha: 80%);
				-webkit-box-shadow: 0px 5px 30px 0px color.adjust($orange-500, $alpha: 80%);
				-moz-box-shadow: 0px 5px 30px 0px color.adjust($orange-500, $alpha: 80%);
			}
		}
		&__beginner {
			border: $blue-500 2px solid;
			&:hover {
				box-shadow: 0px 5px 30px 0px color.adjust($blue-500, $alpha: 80%);
				-webkit-box-shadow: 0px 5px 30px 0px color.adjust($blue-500, $alpha: 80%);
				-moz-box-shadow: 0px 5px 30px 0px color.adjust($blue-500, $alpha: 80%);
			}
		}
	}
	&--item-experience {
		font-size: $font-75;
		color: $gray-600;
	}
	&--progress-container {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
	}
	&--progress-bar-container {
		background: $gray-200;
		justify-content: flex-start;
		border-radius: 100px;
		align-items: center;
		display: flex;
		height: 6px;
		width: 100%;
	}
	&--progress-bar {
		width: 100%;
	}
	&--progress-bar-value {
		box-shadow: 0 10px 40px -10px #000000;
		border-radius: 100px;
		position: relative;
		overflow: hidden;
		height: 6px;
		width: 100%;
		&__advanced {
			animation: load75 3s normal forwards;
			@include gradient($color: green);
		}
		&__middle {
			animation: load50 3s normal forwards;
			@include gradient($color: orange);
		}
		&__beginner {
			animation: load25 3s normal forwards;
			@include gradient($color: blue);
		}
	}
	&--progress-bar-value::after {
		content: '';
		top: 0;
		transform:translateX(100%);
		width: 100%;
		height: 100%;
		position: absolute;
		animation: slide 1s infinite;			
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
	}
	&--progress-title {
		font-size: $font-75;
		color: $gray-800;
	}
	&--item-level {
		font-size: $font-85;
		color: $gray-800;
		padding-top: 4px;
		font-weight: 500;
	}
	&--item-icon {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		border-radius: 10px;
		@include shadow($size: medium);
		&__advanced {
			@include gradient($color: green);
		}
		&__middle {
			@include gradient($color: orange);
		}
		&__beginner {
			@include gradient($color: blue);
		}
	}
	&--item-title {
		font-weight: 500;
	}
	&--icon-title-container {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	@include transition((max-height, opacity, scale));
}

.skills-stats {
	display: flex;
	padding: 30px;
	gap: 40px;

	&--item {
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		padding: 40px;
		gap: 10px;
		width: 160px;
		position: relative;
		overflow: hidden;
		@include shadow();
		@include transition((box-shadow, -webkit-box-shadow, -moz-box-shadow));
		&::before {
			content: "";
			width: 100%;
			height: 5px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #000
		}
		&__advanced::before {
			@include gradient($color: green);
		}
		&__middle::before {
			@include gradient($color: orange);
		}
		&__beginner::before {
			@include gradient($color: blue);
		}
		&__total::before {
			@include gradient($color: teal);
		}
		&:hover {
			@include shadow($size: medium);
		}

	}
	&--item-icon {
		padding: 5px;
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		color: $white-100;
		&__advanced {
			@include gradient($color: green);
		}
		&__middle {
			@include gradient($color: orange);
		}
		&__beginner {
			@include gradient($color: blue);
		}
		&__total {
			@include gradient($color: teal);
		}
	}
	&--number {
		font-size: $font-200;
		font-weight: 600;
	}
	&--level {
		color: $gray-600;
		font-size: $font-150;
		font-weight: 600;
	}
	&--progress-container {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
	}
	&--progress-bar-container {
		background: $gray-200;
		justify-content: flex-start;
		border-radius: 100px;
		align-items: center;
		display: flex;
		height: 6px;
		width: 100%;
	}
	&--progress-bar {
		width: 100%;
	}
	&--progress-bar-value {
		box-shadow: 0 10px 40px -10px #000000;
		border-radius: 100px;
		position: relative;
		overflow: hidden;
		height: 6px;
		width: 100%;
		&__advanced {
			animation: load75 3s normal forwards;
			@include gradient($color: green);
		}
		&__middle {
			animation: load50 3s normal forwards;
			@include gradient($color: orange);
		}
		&__beginner {
			animation: load25 3s normal forwards;
			@include gradient($color: blue);
		}
	}
	&--progress-bar-value::after {
		content: '';
		top: 0;
		transform:translateX(100%);
		width: 100%;
		height: 100%;
		position: absolute;
		animation: slide 1s infinite;			
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
	}
	&--badge-container {
		display: flex;
		gap: 10px;
	}
	&--badge {
		padding: 5px 5px 3px 5px;
		height: 25px;
		width: 30px;
		line-height: 1;		
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		color: $white-100;
		position: relative;
		font-weight: 600;
		&__advanced {
			@include gradient($color: green);
		}
		&__middle {
			@include gradient($color: orange);
		}
		&__beginner {
			@include gradient($color: blue);
		}
	}
}

@keyframes typing600 {
  from { width: 0 }
  to { width: 28.7ch }
}

@keyframes typing400 {
  from { width: 0 }
  to { width: calc(546 / 23 * 1ch)  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary-color }
}

@keyframes rule-blinking {
	from, to { width: 50%; }
	50% { width: 30% }
}

@for $percent from 1 through 3 {
	@keyframes load#{$percent*25} {
		0% { width: 0; }
		100% { width: #{$percent*25} + "%"; }
	}
}

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}